<ion-content>
  <div style="text-align: center; padding-top: 300px;">
    <ion-icon name="logo-ionic"></ion-icon>
  </div>
  <div style="text-align: center; padding-top: 12px;">
    <ion-text class="baloo" style="font-size: 24px;">A collection of projects I've done using Ionic</ion-text>
  </div>
  <div style="text-align: center; padding-top: 8px">
    <ion-button href="/timer" fill="clear" color="dark">Timer</ion-button>
    <ion-button fill="clear" color="dark" href="/calendar">Calendar</ion-button>
    <ion-button fill="clear" color="dark">Coming Soon</ion-button>
  </div>
  <div style="text-align: end; padding-top: 19.5%;">
    <ion-button fill="clear" color="dark" href="https://github.com/daxster-git" target="_blank" rel="noopener noreferrer">GITHUB</ion-button>
  </div>
</ion-content>

